
<div>

	<table id="schoolGroupTable" class="table table-bordered">
		  <caption>学校分组信息</caption>
		  <thead>
		    <tr>
		      <th>分组</th>
		      <th>学校</th>
		      <th>附件</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr id="3" v-for="user in schoolGroupList" >
		    	<td>{{user.group}}</td>
		    	<td>{{user.school}}</td>
		      	<td >
		      		<a v-if="user.dir!=null" href="/psxt/getattachement/{{user.dir}}">附件</a>
		      		<span v-else="" >还未上传</span>
		      	 </td>
		    </tr>
		  </tbody>
	</table>
</div>

<script>

</script>
	
	
	
	
	