结果展示
	<div id="scoreDoc">
	<div>
	<table id="scroeTable" border="1" bordercolor="#000000" cellspacing="0" cellpadding="2" style="border-collapse:collapse;">
			  <thead>
			    <tr>
			      <th>分组</th>
			      <th>学校</th>
			      <th>评分人数</th>
			      <th>平均分</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr id="3" v-for="result in scoreList" >
			    	<td>{{result.group}}</td>
			    	<td>{{result.school}}</td>			    	
			    	<td>{{result.cnt}}</td>
			    	<td>{{result.score}}</td>   
			    </tr>
			  </tbody>
		</table>
	</div>
	</div>
	<button  type="button" class="btn btn-success" onclick="exportResult()">结果导出</button>
		
	
	
<script>

	function exportResult(){
		var htmlContent = $("#scoreDoc").html();
		alert(htmlContent);
		$.ajax({
			url:"/psxt/sendhtmlcontent",
			type:"post",
			dataType:'json',
			data:{
				htmlContent:htmlContent
			},
			success:function(data){
				if(data.code==success){
					alert(data.message);
					window.location.href="getattachement?filePath="+data.message;
				}else{
					alert("message "+data.message+" code "+data.code);
				}
			}
		});
	}


</script>