<!DOCTYPE html>

<html lang="en">
    <head>
   		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="renderer" content="webkit"/>
        <title>后台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        
		<link href="/psxt/css/base.css" rel="stylesheet"></link> 
		<link href="/psxt/css/dashboard.css" rel="stylesheet"></link> 
		<link href="/psxt/css/bootstrap-theme.min.css" rel="stylesheet"></link> 
		<link href="/psxt/css/bootstrap.min.css" rel="stylesheet"></link> 
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script type='text/javascript' src="/psxt/js/getcookie.js"></script>
		<script type='text/javascript' src="/psxt/js/jquery-3.1.0.min.js"></script>	
		<script type='text/javascript' src="/psxt/js/vue.js"></script>
		
		<script type='text/javascript' src="/psxt/js/superadmin/superadmin.js"></script>	
		<script type='text/javascript' src="/psxt/js/superadmin/projectManage.js"></script> 
 		<script src="/psxt/js/superadmin/result.js"></script>	
		<script src="/psxt/js/jquery.cookie.js"></script>
    </head>   

    <body onload="onload()">
		<div id="basecontent">	
       
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/psxt"><b>辽宁省创新创业示范高校评审系统</b></a>
				</div>
		        <div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a id="userName" href="#"></a></li> 
		            	<li><a href="/psxt/logout">退出</a></li>
		          	</ul>
		        </div>
			</div>
		</nav>

		<div class="container-fluid ">
    	<div class="row ">
        	<div class="col-sm-3 col-md-2 sidebar">	 
				<div class="menu-list" style="height: 820px">
			
					<a href="#" onclick="showSchoolAccount()" class="menu-button-middle">
						<span class="glyphicon glyphicon-th-large ">&nbsp;学校账户管理</span>
					</a>
					
					<a href="#" onclick="showTeachermanagePage()" class="menu-button-middle">
						<span class="glyphicon glyphicon-th-large ">&nbsp;专家账户管理</span>
					</a>
					

					<a href="#" onclick="showGroupManagePage()" class="menu-button-middle">
						<span class="glyphicon glyphicon-th-large">&nbsp;项目分配</span>
					</a>
					
					<a href="#" onclick="shownotGradePage()" class="menu-button-middle">
						<span class="glyphicon glyphicon-th-large">&nbsp;评审进展</span>
					</a>
					
					
					<a href="#" onclick="showResultPage()" class="menu-button-middle">
						<span class="glyphicon glyphicon-th-large">&nbsp;查看结果</span>
					</a>	
				</div>
 	 		</div>

		  	<div id="contains" class="col-sm-9 col-md-10 sidebar" >
		   		<button  type="button" class="btn btn-success" >欢迎使用</button>
				<div id="show">
				</div>
		   
			</div>
		</div>
	</div>
</div> 
</body>


<script>



	//part4
	function showResultPage(){
		$.ajax({
			url : '/psxt/showResultPage',
			type : 'get',
			dataType : 'text',
			success : function(data) {
				$("#contains").html(data);
			},
			error : function(){
				window.location.href = "/psxt";
			}
		});
	}
	
	
	
	//part3
	function showGroupManagePage(){
		$.ajax({
			url : '/psxt/showGroupManagePage',
			type : 'get',
			dataType : 'text',
			success : function(data) {
				$("#contains").html(data);
			},
			error : function(){
				window.location.href = "/psxt";
			}
		});
	}


	//part2
	function showTeachermanagePage() {
		$.ajax({
			url : '/psxt/showTeachermanagePage',
			type : 'get',
			dataType : 'text',
			success : function(data) {
				$("#contains").html(data);
			},
			error : function(){
				window.location.href = "/psxt";
			}
		});
	}

	//part1
	var accountList = [ {
		id : "id",
		userName : "userName",
		school : "school",
		password : "password",
	} ];

	var showAccount;

	//显示学校账户	
	function showSchoolAccount() {
		$.ajax({
			url : '/psxt/getSchoolAccountPage',
			type : 'get',
			dataType : 'text',
			success : function(data) {				
				$("#contains").html(data);
				showAccount = new Vue({
					el : '#schoolAccountTable',
					data : {
						accountList : accountList
					}
				});
				showAllAccountt();
			},
			error : function(){
				window.location.href = "/psxt";
			}	
		});
	}

	function showAllAccountt() {
		$.ajax({
			url : '/psxt/getAllSchoolAccount',
			type : 'get',
			dataType : 'json',
			success : function(data) {
				showAccount.accountList = data;
			}
		});
	}

	function onload() {
		$.ajax({
			url : '/psxt/getuserinfo',
			type : 'get',
			dataType : 'json',
			success : function(data) {
				$("#userName").html(data.userName + " 欢迎您");
			}
		});
	}
</script>
</html>
