<div>
 	  <button  type="button" class="btn btn-success" onclick="getCreateaccountPage()">添加账户</button>

	   <button type="button" class="btn btn-success" onclick="showAllUser()">查看已有账户</button> 

		 <div id="show">
	   </div>
</div>


<script>

	function getCreateaccountPage() {
		$.ajax({
			url : '/psxt/getcreateaccountpage',
			type : 'get',
			dataType : 'text',
			success : function(data) {
				$("#show").html(data);
			},
			error : function(){
				window.location.href = "/psxt";
			}
		});
	}

	var userList = [ {
		id : "id",
		userName : "userName",
		school : "school",
		password : "password",
	} ];

	function showAllUser() {
		$.ajax({
			url : '/psxt/getTeacherAccountPage',
			type : 'get',
			dataType : 'text',
			success : function(data) {
				$("#show").html(data);
				showUser = new Vue({
					el : '#userTable',
					data : {
						userList : list
					},
				});
				showAllAccount();
			},
			error : function(){
				window.location.href = "/psxt";
			}

		});
	}

	function showAllAccount() {
		$.ajax({
			url : '/psxt/getAllTeacherAccount',
			type : 'get',
			dataType : 'json',
			success : function(data) {
				showUser.userList = data;
			}
		});
	}
</script>