<div id="personInfoPage" class="container">
    <form role="form">
        <h2>个人信息</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">账户名</span>
                    <input type="text" readonly="true" :value="school" class="form-control" v-model="school" />
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">文件</span>
                    <a class="form-control" v-if="dir!=null" href="/psxt/getattachement/?filePath={{dir}}">附件</a>
		      		<span class="form-control" v-else="" >还未上传</span>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">密&nbsp;&nbsp;码</span>
                    <input type="text"  class="form-control" v-model="password"  id="changePassword"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-block" id="submitInfo" >修改</button>
            </div>
        </div>
    </form>
</div>