<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<title>后台管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="" />
<meta name="author" content="" />

<link href="/psxt/css/base.css" rel="stylesheet"></link>
<link href="/psxt/css/dashboard.css" rel="stylesheet"></link>
<link href="/psxt/css/bootstrap-theme.min.css" rel="stylesheet"></link>
<link href="/psxt/css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="/psxt/css/userInfo.css" rel="stylesheet"></link>

<script type='text/javascript' src="/psxt/js/getcookie.js"></script>
<script type='text/javascript' src="/psxt/js/jquery-3.1.0.min.js"></script>
<script type='text/javascript' src="/psxt/js/vue.js"></script>
<script type="text/javascript" src="/psxt/js/bootstrap.min.js"></script>
<script src="/psxt/js/jquery.cookie.js"></script>
<script type='text/javascript' src="/psxt/js/accountManage.js"></script>
<script type='text/javascript' src="/psxt/js/judge/judge.js"></script>


</head>

<body onload="onload()">


	<div id="basecontent">

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/psxt"><b>辽宁省创新创业示范高校评审系统</b></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">

						<li><a id="userName" href="#"></a></li>
						<li><a href="/psxt/logout">退出</a></li>
					</ul>
				</div>
			</div>
		</nav>


		<div class="container-fluid ">
			<div class="row ">
				<div class="col-sm-3 col-md-2 sidebar">

					<div class="menu-list" style="height: 820px">

						 <a href="#" onclick="getproject()"
							class="menu-button-middle"> <span
							class="glyphicon glyphicon-th-large">&nbsp;查看项目</span>
						</a> <a href="#"
							class="menu-button-middle" id="teacherPersonalInfo"> <span
							class="glyphicon glyphicon-th-large" >&nbsp;个人信息</span>
						</a>

						<!-- <a href="#" class="menu-button-middle" onclick="getResultSettingPage()">
				<span class="glyphicon glyphicon-th">&nbsp;结果导出</span>
			</a> 
				
		   	<a href="#" class="menu-button-middle">
		   		<span class="glyphicon glyphicon glyphicon-user">&nbsp;个人信息</span>
		   	</a> -->
					</div>


				</div>

				<div id="contains" class="col-sm-9 col-md-10 sidebar">
					
				</div>

			</div>
		</div>
	</div>
	<!-- <div id="basecontent">	 -->
	


</body>
<script>
var userId;
var username;
	function onload(){
		  $.ajax({
		      url: '/psxt/getuserinfo',
		      cache:false,
		      type: 'get',
		      dataType: 'json',
		      success: function(data){
		    	  userId = data.id;
				  username = data.userName;
		    	  $("#userName").html(data.school+" 欢迎您");
		      }
		    });
		  //接着再触发评审项目
		}

</script>
</html>
